@media (min-width: 900px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  nav ul {
    gap: 4rem;
  }

  main {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  main .text {
    align-items: flex-start;
    justify-content: space-between;
    margin-top: none;
  }

  main .text h1 {
    margin-bottom: 5rem;
    font-size: 4rem;
    text-align: left;
  }

  main .text p {
    width: fit-content;
    font-size: 2rem;
    line-height: 3rem;
  }

  main img {
    width: fit-content;
  }
}